<div class="container">
  <div class="col-xs-12">
    <h1>Statistics</h1>
    <hr>
    <% unless @protocol_stats %>
      <form action='/statistics' method='post' enctype='multipart/form-data'>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon">
              <i class="glyphicon glyphicon-file"></i>
            </span>
            <input class="form-control" placeholder="libpcap-formatted file" name="file" type="file" required>
            <span class="input-group-btn">
              <input type="submit" class="btn btn-lg btn-default" value="Generate Statistics">
            </span>
          </div>
        </div>
      </form>
    <% else %>
      <div class='text-center'>
        <h2>Protocol Statistics</h2>
        <%= pie_chart(@protocol_stats, height: "420px")%>
        <hr>
        <h2>IP Address Statistics</h2>
        <%= pie_chart(@ip_addr_stats, height: "420px") %>
        <hr>
        <h2>Mac Address Statistics</h2>
        <%= pie_chart(@mac_addr_stats, height: "420px") %>
        <hr>
        <h2>Eth Proto Statistics</h2>
        <%= pie_chart(@eth_proto_stats, height: "420px") %>
        <hr>
        <h2>IP TTL Statistics</h2>
        <%= pie_chart(@ip_ttl_stats, height: "420px") %>
      </div>
    <% end%>
  </div>
</div>

